<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>resgisterUser</servlet-name>
        <servlet-class>resgisterUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUser</servlet-name>
        <servlet-class>CheckUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registertransporter</servlet-name>
        <servlet-class>registertransporter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>paymenttransporter</servlet-name>
        <servlet-class>paymenttransporter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>java</servlet-name>
        <servlet-class>placeorder.java</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>placeorder</servlet-name>
        <servlet-class>placeorder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>resgisterUser</servlet-name>
        <url-pattern>/resgisterUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUser</servlet-name>
        <url-pattern>/CheckUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registertransporter</servlet-name>
        <url-pattern>/registertransporter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>paymenttransporter</servlet-name>
        <url-pattern>/paymenttransporter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>java</servlet-name>
        <url-pattern>/java</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>placeorder</servlet-name>
        <url-pattern>/placeorder</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
